*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}

.container{
    max-width: 1320px;
    margin: auto;
}
nav{
    position: absolute;
    width: 100%;
    padding: 14px;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav .container .logo a{
    display: block;
}

nav .container .menu ul{
    display: flex;
    column-gap: 48px;
}
nav .container .menu ul li:last-child{
    margin-right: 120px;
}










#hello_part .container{
    display: flex;
    column-gap: 144px;

}


#hello_part .container .child{
    width: 50%;
}

#hello_part .container .child img{
    width: 100%;
}
#hello_part .container .child span{
    display: inline-block;
    margin-top: 67px;
    font-size: 20px;
    font-weight: 700;
    color: yellow;
}

#hello_part .container .child h1{
    width: 486px;
    font-size: 65px;
    font-weight: 700;
    margin: 12px 0 32px;
}

#hello_part .container .child p{
    width: 486px;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 32px;
    color: rgba(128, 128, 128, 0.377);
}

#hello_part .container .child button{
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 8px 24px;
    background: yellow;
    border: 0;
    border-radius: 10px;
}

#hello_part .container .child .link{
    background: transparent;
    border: 3px solid black;
}

#project_part h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 80px;
}
#project_part .container{
    max-width: 1000px;
    display: flex;
}

#project_part .container .child{
    width: 50%;
}
#project_part .container .child h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 146px;
}

#project_part .container .child p{
    width: 406px;
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
}

#project_part .container .child button{
    font-size: 25px;
    font-weight: 700;
    padding: 8px 24px;
    background: transparent;
    border-radius: 24px;
}
#project_part .container .child img{
    width: 100%;
}